input {
    keyboard {
        xkb {
        //numlock
        }
    }
    touchpad {
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
    }
    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    /-trackpoint {
    }
    warp-mouse-to-focus
    focus-follows-mouse 
}

layout {
    gaps 6
    background-color "transparent"
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.15
        proportion 0.35
        proportion 0.5
        proportion 0.65
        proportion 0.85
        proportion 1.0
    }
    // preset-window-heights { }
    default-column-width { proportion 0.85; }
    /-focus-ring {
        off
        width 3
        active-gradient from="#f5c2e7" to="#cba6f7" angle=45
    }
    /-border {
        on
        width 3
        active-gradient from="#f5c2e7" to="#cba6f7" angle=45 relative-to="workspace-view"
        inactive-color "#cba6f7"
    }
    shadow {
        off
    }
    struts {
        left 4
        right 4
        top 4
        bottom 4
    }
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop false
}

//spawn-at-startup ""
// spawn-sh-at-startup ""

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
  // handled by dms
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
layer-rule {
    match namespace="^notifications$"
    block-out-from "screen-capture"
}

window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
    block-out-from "screen-capture"
    default-floating-position x=15 y=15 relative-to="bottom-left"
    default-column-width { proportion 0.35; }

    border {
      off 
    }
    shadow {
      on
      softness 20
      spread 3
      offset x=0 y=0
      color "#000000"
    }
}

window-rule {
    match app-id="showmethekey-gtk"
    open-floating true
    default-floating-position x=15 y=15 relative-to="bottom"
    min-height 100
    max-height 100
}

window-rule {
    match app-id="osu!" 
    match app-id="osu!lazer" 
    default-column-width { proportion 1.0; }
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match is-active=false
    opacity 0.9
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
    default-column-width { proportion 0.60; }
    default-window-height { fixed 600; }
    border {
      off 
    }
    shadow {
      on
      softness 20
      spread 3
      offset x=0 y=0
      color "#00000060"
    }
}

include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"

