binds {
  // Screenshot
  Mod+S {
      spawn "dms" "screenshot";
  }
  Mod+Alt+S {
      spawn "dms" "ipc" "call" "niri" "screenshotWindow";
  }
  Mod+Ctrl+S {
      spawn "dms" "screenshot" "full";
  }
  Mod+Alt+C {
    spawn "dms" "color" "pick";
  }
  Ctrl+Alt+Delete {
    spawn "dms" "ipc" "call" "powermenu" "toggle";
  }
  Ctrl+Shift+Escape {
    spawn "dms" "ipc" "call" "processlist" "toggle";
  }
}
