/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #fb5b20 !important;
  --toolbarbutton-icon-fill: #ffb59e !important;
  --toolbar-field-color: #f9dcd4 !important;
  --tab-selected-textcolor: #ffb59e !important;
  --toolbar-color: #f9dcd4 !important;
  --arrowpanel-color: #f9dcd4 !important;
  --arrowpanel-background: #2b1c17 !important;
  --sidebar-text-color: #f9dcd4 !important;
/*  --zen-main-browser-background: #1e100c !important; */
}

.sidebar-placesTree {
  background-color: #2b1c17 !important;
}

#zen-workspaces-button {
  background-color: #2b1c17 !important;
}

#TabsToolbar {
  background-color: #1e100c !important;
}

.urlbar-background {
  background-color: #2b1c17 !important;
}

.urlbar-input::selection {
  color: #5d1800 !important;
  background-color: #ffb59e !important;
}

.urlbarView-url {
  color: #e3beb3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb59e
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc1a9 !important;
  --identity-icon-color: #ffc1a9 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb59e !important;
  --identity-icon-color: #ffb59e !important;
}

.identity-color-green {
  --identity-tab-color: #ace086 !important;
  --identity-icon-color: #ace086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8bf97 !important;
  --identity-icon-color: #e8bf97 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbab7b !important;
  --identity-icon-color: #dbab7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f93 !important;
  --identity-icon-color: #e05f93 !important;
}

.identity-color-pink {
  --identity-tab-color: #ba5e57 !important;
  --identity-icon-color: #ba5e57 !important;
}

.identity-color-purple {
  --identity-tab-color: #bf9285 !important;
  --identity-icon-color: #bf9285 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1e100c !important;
}
