/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #1f2a25 !important;
  --toolbarbutton-icon-fill: #bdc9c2 !important;
  --toolbar-field-color: #e4e2e0 !important;
  --tab-selected-textcolor: #bdc9c2 !important;
  --toolbar-color: #e4e2e0 !important;
  --arrowpanel-color: #e4e2e0 !important;
  --arrowpanel-background: #1f201f !important;
  --sidebar-text-color: #e4e2e0 !important;
/*  --zen-main-browser-background: #131313 !important; */
}

.sidebar-placesTree {
  background-color: #1f201f !important;
}

#zen-workspaces-button {
  background-color: #1f201f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f201f !important;
}

.urlbar-input::selection {
  color: #28332e !important;
  background-color: #bdc9c2 !important;
}

.urlbarView-url {
  color: #c3c8c3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #bdc9c2
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #cbd7d0 !important;
  --identity-icon-color: #cbd7d0 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #bdc9c2 !important;
  --identity-icon-color: #bdc9c2 !important;
}

.identity-color-green {
  --identity-tab-color: #94e086 !important;
  --identity-icon-color: #94e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8d597 !important;
  --identity-icon-color: #e8d597 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbc47b !important;
  --identity-icon-color: #dbc47b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f71 !important;
  --identity-icon-color: #e05f71 !important;
}

.identity-color-pink {
  --identity-tab-color: #408852 !important;
  --identity-icon-color: #408852 !important;
}

.identity-color-purple {
  --identity-tab-color: #8f9692 !important;
  --identity-icon-color: #8f9692 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}
