/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #e17308 !important;
  --toolbarbutton-icon-fill: #ffb786 !important;
  --toolbar-field-color: #f3dfd3 !important;
  --tab-selected-textcolor: #ffb786 !important;
  --toolbar-color: #f3dfd3 !important;
  --arrowpanel-color: #f3dfd3 !important;
  --arrowpanel-background: #281d16 !important;
  --sidebar-text-color: #f3dfd3 !important;
/*  --zen-main-browser-background: #1b110b !important; */
}

.sidebar-placesTree {
  background-color: #281d16 !important;
}

#zen-workspaces-button {
  background-color: #281d16 !important;
}

#TabsToolbar {
  background-color: #1b110b !important;
}

.urlbar-background {
  background-color: #281d16 !important;
}

.urlbar-input::selection {
  color: #502400 !important;
  background-color: #ffb786 !important;
}

.urlbarView-url {
  color: #ddc1b0 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb786
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc594 !important;
  --identity-icon-color: #ffc594 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb786 !important;
  --identity-icon-color: #ffb786 !important;
}

.identity-color-green {
  --identity-tab-color: #aae086 !important;
  --identity-icon-color: #aae086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8c197 !important;
  --identity-icon-color: #e8c197 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbac7b !important;
  --identity-icon-color: #dbac7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f90 !important;
  --identity-icon-color: #e05f90 !important;
}

.identity-color-pink {
  --identity-tab-color: #b0644d !important;
  --identity-icon-color: #b0644d !important;
}

.identity-color-purple {
  --identity-tab-color: #bf9476 !important;
  --identity-icon-color: #bf9476 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1b110b !important;
}
